* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: white;
    box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.19), 0 0px 10px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.topnav a {
    float: left;
    display: block;
    color: #113d5e;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
}

.topnav a:hover {
    border-bottom: 3px solid #ec5d5e;
    color: #ec5d5e;
    cursor: pointer;
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 6%;
    left: 0;
    background-color: #f1f1f1;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 250px;
    /* Same as the width of the sidenav */
    font-size: 28px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

@media screen and (max-width: 600px) {
    .nav {
        display: block;
        outline: none;
        -webkit-tap-highlight-color: transparent;

    }

    .topnav {
        display: none;
    }

    .hidenav {
        display: block;
    }
}