* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

a {
    outline: none;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    cursor: pointer;
}

.topnav {
  overflow: hidden;
  background-color: white;
  box-shadow: 0 0px 2px 0 rgba(0,0,0,0.19), 0 0px 10px 0 rgba(0,0,0,0.19);
  cursor: pointer;
}

.topnav a {
  float: left;
  display: block;
  color: #113d5e;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
}

.topnav a:hover {
    border-bottom: 3px solid #ec5d5e;
    color: #ec5d5e;
    cursor: pointer;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000220;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 18px 8px 8px 32px;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  font-size: 20px;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.hidenav {
    display: none;
}

.navContainer {
    display: flex;
    padding: 5px;

}

.nav {
    display: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    display:inline-block;
}

.welcome-image {
  display: none;
}

.welcome-section {
    padding-top: 10px;
}

.landing-container {
    width: 40%;
    margin : 100px;
    color: #113d5e;
    padding: 100px;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.19), 0 0px 60px 0 rgba(0,0,0,0.14);
    border-radius: 20px;
}


button {
    outline: none;
    -webkit-tap-highlight-color: transparent;
    border:none;
    cursor: pointer;
}

.start-learning-button {
    margin-top: 40px;
    background-color: #ec5d5e;
    border-radius: 10px;
    padding: 10px;
    border: none;
    color: white;
    font-size: 17px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.start-learning-button:hover, .start-learning-button::after {
  color: #ec5d5e;
  padding: 7px;
  border: 3.5px solid #ec5d5e;
  background-color: white;
}

.why-use-this-site {
  text-align: center;
  font-family: Roboto, sans-serif;
  margin-top: 20px;
  padding: 40px;
  height: 250px;
}

.why-tryn {
  margin: 12px;
  font-size: 30px;
}

.why-try-reason {
  font-size: 18px;
  margin-left: 50px;
  margin-right: 50px;
}

.about-redirect-btn {
  margin: 30px;
  background-color: white;
  font-size: 17px;
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 50px;
  padding-left: 20px;
  padding: 10px 30px 10px 30px;
  border: 3px solid #ec5d5e;
}

.about-redirect-btn:hover, .about-redirect-btn::after {
  color: white;
  background-color: #ec5d5e;
}

.stay-connected {
  padding: 20px;
  color: #113d5e;
}

.sm {
  color: #113d5e;
  margin-top: 15px;
  cursor: pointer;
  transition-duration: 0.2s;
}

.sm:hover, .sm::after {
  color: white;
}

.creator {
  margin: 15px;
  padding: 15px;
  box-shadow: 0 0px 0px 0 rgba(0,0,0,0.19), 0 0px 60px 0 rgba(0,0,0,0.14);
  border-radius: 10px;
  text-align: center;
}

.creator-button {
  border-radius: 50px;
  padding: 7px;
  background-color:white;
  border:2px solid #ec5d5e;
  font-weight: bold;
}

.creator-button:hover, .creator-button::after {
  background-color: #ec5d5e;
  color: white;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media screen and (max-width: 600px) {
    .nav {
        display: block;
        outline: none;
        -webkit-tap-highlight-color: transparent;

    }

    .topnav {
        display: none;
    }

    .hidenav {
        display: block;
    }

    .welcome-image {
      display: block;
      width: 100%;
      height: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      margin-bottom: -30px;
    }

    .welcome-section {
        width: 100%;
        background-image: none;
        height: 90%;
        display: block;
    }

    .landing-container {
        font-size: 12px;
        margin: 20px;
        width: 90%;
        padding: 20px;
    }

    .why-use-this-site {
      padding: 15px;
      border-radius: 10px;
      box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.19), 0 0px 60px 0 rgba(0, 0, 0, 0.14);
      margin: 15px;
      height: 100%;
    }

    .why-tryn {
      font-size: 31px;
    }

    .why-try-reason {
      font-size: 16px;
      margin-left: 10px;
      margin-right: 10px;
    }

    .about-redirect-btn {
      margin-top: 25px;
      cursor: pointer;
      padding: 10px 35px 10px 35px;
    }

    .stay-connected {
      width: 90%;
    }
}

footer {
  background-color: #bfd3e1;
  margin-top: 20px;
  height: 100%;
  padding: 30px;
}

@media screen and (min-width: 601px) {
  .landing-container {
    padding: 30px;
    margin: 50px;
    font-size: 15px;
    width: 60%;
  }

  .welcome-section {
    background-size: 150% 150%;
  }

  .why-use-this-site {
    height: 100%;
    width: 100%;
    padding: 20px;
  }
}

@media screen and (min-width: 1000px) {
  .landing-container {
    width: 40%;
  }

  .creator {
    box-shadow: none;
  }
}